<style>
    
            @charset "utf-8";
    
    body{
        background-color: rgb(59, 81, 45);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header{
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
        box-shadow: 20px 20px 30px --cor2;
        padding: 30px;
        margin: 2px;
        color: beige;
        background-image: linear-gradient(to right, rgb(41, 173, 32), rgb(18, 125, 50));
        h1{
            color:antiquewhite;
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 3em;
            text-shadow:5px 5px 5px rgba(0, 0, 0, 0.597);
        }
        p {
            font-family:"Bebas Neue", sans-serif;
            font-size: 1.2em;
            max-width: 600px;
            padding-right: 10px;
            padding-left: 10px;
            margin: auto;
            margin-bottom: 10px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.597);
        }
    }
    
    main{
        background-color: lemonchiffon;
        min-width: 300px;
        max-width: 1100px;
        margin: auto;
        padding: 40px;
        margin-bottom:100px ;
        box-shadow: 2px  2px 15px black;
        border-radius: 30px;
        h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding: 20px;
            margin: 30px;
            text-shadow:1px 1px 1px rgba(0, 0, 0, 0.597);
        }
        h2{
            font-family:inherit;
            text-align: center;
            text-shadow:1px 1px 1px rgba(0, 0, 0, 0.597);
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 15px 5px;
            text-align: justify;
            text-indent: 30px;
            font-size: 1.1em;
            line-height: 2em;
        }
    }
    
    footer{
        background-color: rgba(3, 69, 3, 0.8);
        color: white;
        text-align: center;
        padding: 5px;
    }
</style>
<body>
    <header>
        <h1>Bem vindos ao Shadows of the mind</h1>
        <p>Sua plataforma completa para gerenciar eficientemente suas práticas psicológicas. Simplificando o processo de atendimento e organização de informações dos pacientes, nós capacitamos psicólogos a focarem no que realmente importa: o bem-estar de seus clientes.</p>
        <a href="/usuarios/registro"><button class="btn btn-primary" type="button">Experimente grátis</button></a>
    </header>

    <main>
        <h2>Principais Recursos</h2>
        <ul>
            <li>Registro de Pacientes</li>
            <li>Gerenciamento de Documentos</li>
            <li>Comunicação Segura</li>
            <li>Registro de atendimentos</li>
        </ul>
        <p>A plataforma que desenvolvemos foi meticulosamente projetada para atender às diversas necessidades dos profissionais de saúde, desde consultórios individuais até clínicas de grande porte. Nossa missão é fornecer uma solução abrangente que otimize a gestão de informações médicas, promova a eficiência operacional e melhore a experiência tanto dos profissionais de saúde quanto dos pacientes.

            Em um mundo em constante evolução, onde a tecnologia desempenha um papel cada vez mais importante na prestação de serviços de saúde, reconhecemos a necessidade premente de uma plataforma versátil e robusta. Com isso em mente, dedicamos recursos significativos para desenvolver uma solução que seja flexível o suficiente para atender às demandas específicas de diferentes tipos de estabelecimentos de saúde.</p>

        <h3>Sua Plataforma Completa para Gestão de Práticas Psicológicas</h3>

<p>Transforme radicalmente a maneira como você gerencia suas práticas psicológicas com nossa inovadora plataforma completa, especialmente projetada para simplificar e otimizar o processo de atendimento e a organização das informações dos pacientes. Com uma interface intuitiva e funcionalidades robustas, nossa ferramenta permite que psicólogos de todas as especialidades concentrem sua energia e atenção no que realmente importa: o bem-estar e a saúde mental de seus clientes.

    Ao integrar diversas funcionalidades em um único sistema, garantimos que você tenha tudo o que precisa ao seu alcance para oferecer um atendimento de qualidade superior. Desde o registro detalhado de pacientes até o gerenciamento eficiente de documentos e a comunicação segura, nossa plataforma é a solução definitiva para aprimorar sua prática e elevar o padrão de cuidado oferecido.
    
    Invista na modernização de seu consultório ou clínica e experimente uma nova era de eficiência e satisfação profissional, onde cada aspecto da gestão psicológica é cuidadosamente atendido, permitindo que você dedique mais tempo ao acompanhamento e desenvolvimento de seus pacientes. Nossa plataforma é adaptável, atendendo tanto às necessidades de consultórios individuais quanto às de grandes clínicas, garantindo sempre a melhor experiência para você e seus pacientes.</p>

<h3> Recursos de organização</h3>
<ul>
    <li>Registro de Pacientes: Mantenha um controle detalhado e organizado de todos os seus pacientes.</li>
    <li>Gerenciamento de Documentos: Armazene e acesse documentos importantes de forma segura e prática.</li>
    <li>Comunicação Segura: Garanta a privacidade e a segurança nas comunicações com seus pacientes.</li>
    <li>Registro de Atendimentos: Documente e acompanhe facilmente cada consulta e progresso do paciente.</li>
    <p>Nossa plataforma foi cuidadosamente desenvolvida para atender às suas necessidades específicas, desde consultórios individuais até clínicas de grande porte. Simplifique sua rotina, melhore sua eficiência e dedique mais tempo ao cuidado de seus pacientes.</p>
</ul>
    </main>
    <footer>
        Transforme sua prática para melhor. Experimente nosso software hoje mesmo!
    </footer>
    
</body>

