<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bem vindos ao Shadows of the mind</h1>
        <p class="col-md-8 fs-4">Sua plataforma completa para gerenciar eficientemente suas práticas psicológicas. Simplificando o processo de atendimento e organização de informações dos pacientes, nós capacitamos psicólogos a focarem no que realmente importa: o bem-estar de seus clientes.</p>
        <a href="/usuarios/registro"><button class="btn btn-primary" type="button">Experimente grátis</button></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Principais Recursos</h3>
        <ul>
          <li>Registro de Pacientes</li>
          <li>Gerenciamento de Documentos</li>
          <li>Comunicação Segura</li>
          <li>Registro de atendimentos</li>
        </ul>
        <p>Nossa plataforma foi desenvolvida para atender às suas necessidades, desde consultórios individuais até clínicas de grande porte.</p>
      </div>
    </div>
    <hr>
    <p class="text-center">Transforme sua prática para melhor. Experimente nosso software hoje mesmo!</p>
  </div>

